
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

fan:
  - platform: template
    # https://www.home-assistant.io/integrations/fan.template
    fans:
      woshi_fan:
        friendly_name: "卧室风扇"
        value_template: "{{ states('input_boolean.woshi_fan_state') }}"
        percentage_template: 0
        preset_mode_template: ""
        speed_count: 3
        preset_modes:
          - 静音
        turn_on:
          - service: xiaomi_miot.send_command
            data:
              entity_id: climate.kong_diao_cha_zuo_air_conditioner # 实体ID
              method: send_ir_code
              params:
                - FE0000000000000000000000000500322257003600A701BC036E13883201000000000000000001010101010101010100000000000000000101010101010101000000000000000001010101010104F4 # IR Code
          - service: input_boolean.turn_on
            target:
              entity_id: input_boolean.woshi_fan_state
        turn_off:
          - service: xiaomi_miot.send_command
            data:
              entity_id: climate.kong_diao_cha_zuo_air_conditioner # 实体ID
              method: send_ir_code
              params:
                - FE0000000000000000000000000500322257003600A701BC036E13883201000000000000000001010101010101010100000000000000000101010101010101000000000000000001010101010104F4 # IR Code
          - service: input_boolean.turn_off
            target:
              entity_id: input_boolean.woshi_fan_state
        set_percentage:
          service: xiaomi_miot.send_command
          data:
            entity_id: climate.kong_diao_cha_zuo_air_conditioner # 实体ID
            method: send_ir_code
            params:
              - FE00000000000000000000000006003222580033003C00A901BA0370138843020101000101010100020202020202020202020101000101010000020202020202020201010100000101010202020202056A # IR Code
        set_preset_mode: #模式
          service: xiaomi_miot.send_command
          data:
            entity_id: climate.kong_diao_cha_zuo_air_conditioner # 实体ID
            method: send_ir_code
            params:
              - FE000000000000000000000000080036225E003500A800DF01BD0370052E13882523430100000000000000000101010101010100000000010001000101010100010001000000000100010001010101000100010542074206F4 # IR Code
switch:
  - platform: template
    switches:
      lumi_acpartner_ir:
        friendly_name: "空调开关"
        value_template: "{{ is_state('climate.kong_diao_cha_zuo_air_conditioner', 'on') }}"
        turn_on:
          service: climate.turn_on
          target:
            entity_id: climate.kong_diao_cha_zuo_air_conditioner # 实体ID
        turn_off:
          service: xiaomi_miot.send_command
          data:
            entity_id: climate.kong_diao_cha_zuo_air_conditioner # 实体ID
            method: send_ir_code
            params:
              - FE00978022222194701fff7F0507008C27DA003C00A801C4038107D40FA913883201000000000000000100010100000000000000000000000100000000010001000001000400000000000000000000000000010000000000000000000000000000000100010532010000000000000001000101000000000000000000000001000000000101010000010004000000000000000000000000000000000000000000000000000000000000000106E7 # IR Code
