
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

fan: !include fan_Xiaomi_Miot_Auto.yaml
switch: !include switch_Xiaomi_Miot_Auto.yaml
